* {
  margin: 0;
  padding: 0;
}

.head {
  background-image: url(./components/image/01.jpg);
  background-size: cover;
  height: 680px;
}

.head-content1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 50px;
  padding-top: 30px;
  gap: 30px;
}

.img-head-content1 {
  width: 250px;
}

.text-head-content1 {
  text-decoration: none;
  color: white;
}

.head-main-content {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 80px;
}

.text-main-content1 {
  font-size: 150px;
  margin-left: 370px;
}
.text-main-content2 {
  font-size: 150px;
  margin-left: 250px;
}
.text-main-content3 {
  font-size: 30px;
  margin-left: 400px;
}

.img-arrow {
  width: 150px;
  margin-left: 580px;
}

.head2 {
  background-image: url(./components/image/02.jpg);
  background-size: contain;
  background-position: cover;
  height: 750px;
}
.head-text-content2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  font-size: 20px;
  padding: 20px;
  height: 50px;
  background-color: black;
}

.text-content2 {
  display: flex;
  flex-direction: column;
  color: white;
}
.text-content-1 {
  font-size: 20px;
  margin-left: 700px;
  margin-top: 150px;
}

.text-content-2 {
  font-size: 80px;
  margin-left: 700px;
  margin-top: 10px;
}

.text-content-3 {
  font-size: 20px;
  margin-left: 700px;
  margin-top: 10px;
}

.btn-content {
  height: 60px;
  width: 130px;
  margin-top: 20px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
  margin-left: 700px;
}
.btn-content:hover {
  background-color: white;
  color: black;
}

.head3 {
  background-image: url(./components/image/03.jpg);
  background-size: contain;
  background-position: cover;
  height: 750px;
}
.text-content3 {
  display: flex;
  flex-direction: column;
  color: white;
}
.text-content-1-1 {
  font-size: 20px;
  margin-top: 300px;
  margin-left: 80px;
  gap: 10px;
}
.text-content-1-2 {
  font-size: 70px;
  margin-top: 15px;
  margin-left: 60px;
}
.text-content-1-3 {
  font-size: 18px;
  margin-left: 60px;
}
.btn-content2 {
  height: 60px;
  width: 150px;
  margin-top: 20px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
  margin-left: 60px;
}
.btn-content2:hover {
  background-color: white;
  color: black;
}
.head4 {
  background-image: url(./components/image/04.jpg);
  background-size: contain;
  background-position: cover;
  height: 750px;
}
.head5 {
  background-image: url(./components/image/05.jpg);
  background-size: contain;
  background-position: cover;
  height: 750px;
}

.footer {
  background-color: black;
  height: 400px;
}
.text-footer {
  display: flex;
  flex-direction: column;
  color: white;
}
.text-footer-1 {
  font-size: 20px;
  margin-left: 230px;
  margin-top: 150px;
}
.btn-footer1 {
  height: 60px;
  width: 250px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
  margin-left: 400px;
}
.btn-footer1:hover {
  background-color: white;
  color: black;
}
.btn-footer2 {
  height: 60px;
  width: 250px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
  margin-left: 10px;
}
.btn-footer2:hover {
  background-color: white;
  color: black;
}
.footer-content {
  color: darkgray;
  text-decoration: none;
  margin-top: 100px;
  margin-left: 500px;
}
.footer-content1 {
  text-decoration: none;
  color: darkgray;
}

@media (max-width: 950px) {
  .head {
    background-size: center;
    height: 400px;
  }
}

@media (max-width: 950px) {
  .head-content1 {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 950px) {
  .text-main-content1 {
    font-size: 60px;
    margin-top: -120px;
    margin-left: 300px;
  }
}
@media (max-width: 950px) {
  .text-main-content2 {
    font-size: 80px;
    margin-top: -20px;
    margin-left: 200px;
  }
}
@media (max-width: 950px) {
  .text-main-content3 {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 250px;
  }
}
@media (max-width: 950px) {
  .img-arrow {
    width: 100px;
    margin-top: 10px;
    margin-left: 350px;
  }
}
@media (max-width: 950px) {
  .head-text-content2 {
    font-size: 15px;
    margin-left: 20px;
  }
}
@media (max-width: 950px) {
  .head2 {
    background-color: black;
    background-image: url(./components/image/02.jpg);
    background-size: center;
    height: 400px;
  }
}
@media (max-width: 950px) {
  .text-content-1 {
    font-size: 20px;
    margin-left: 400px;
    margin-top: 50px;
  }
}
@media (max-width: 950px) {
  .text-content-2 {
    font-size: 50px;
    margin-left: 400px;
  }
}
@media (max-width: 950px) {
  .text-content-3 {
    font-size: 10px;
    margin-left: 400px;
  }
}
@media (max-width: 950px) {
  .btn-content {
    margin-left: 400px;
  }
}

/* HEAD3 */
@media (max-width: 950px) {
  .head3 {
    background-image: url(./components/image/03.jpg);
    background-size: center;
    height: 400px;
  }
}
@media (max-width: 950px) {
  .text-content-1-1 {
    font-size: 20px;
    margin-left: 50px;
    margin-top: 150px;
  }
}
@media (max-width: 950px) {
  .text-content-1-2 {
    font-size: 50px;
    margin-left: 50px;
  }
}
@media (max-width: 950px) {
  .text-content-1-3 {
    font-size: 10px;
    margin-left: 50px;
  }
}
@media (max-width: 950px) {
  .btn-content {
    margin-left: 400px;
  }
}
/* HEAD 4 */
@media (max-width: 950px) {
  .head4 {
    background-color: black;
    background-image: url(./components/image/04.jpg);
    background-size: center;
    height: 400px;
  }
}
@media (max-width: 950px) {
  .text-content-1 {
    font-size: 20px;
    margin-left: 400px;
    margin-top: 50px;
  }
}
@media (max-width: 950px) {
  .text-content-2 {
    font-size: 50px;
    margin-left: 400px;
  }
}
@media (max-width: 950px) {
  .text-content-3 {
    font-size: 10px;
    margin-left: 400px;
  }
}
@media (max-width: 950px) {
  .btn-content {
    margin-left: 400px;
  }
}
/* HEAD 5 */
@media (max-width: 950px) {
  .head5 {
    background-image: url(./components/image/05.jpg);
    background-size: center;
    height: 400px;
  }
}
@media (max-width: 950px) {
  .text-content-1-1 {
    font-size: 20px;
    margin-left: 50px;
    margin-top: 150px;
  }
}
@media (max-width: 950px) {
  .text-content-1-2 {
    font-size: 50px;
    margin-left: 50px;
  }
}
@media (max-width: 950px) {
  .text-content-1-3 {
    font-size: 10px;
    margin-left: 50px;
  }
}
@media (max-width: 950px) {
  .btn-content {
    margin-left: 400px;
  }
}
/* MEDIA FOOTER */
@media (max-width: 950px) {
  .text-footer-1 {
    font-size: 18px;
    margin-left: 50px;
    margin-top: 300px;
    text-align: center;
  }
}
@media (max-width: 950px) {
  .btn-footer {
    display: none;
  }
}
@media (max-width: 950px) {
  .footer-content {
    display: none;
  }
}

/* MEDIA 430PX */

@media (max-width: 430px) {
  .text-head-content1 {
    display: none;
  }
}
@media (max-width: 430px) {
  .head {
    background-size: center;
    height: 400px;
  }
}

.head-content1 {
  @media (max-width: 430px) {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 430px) {
  .text-main-content1 {
    font-size: 40px;
    margin-top: 20px;
    margin-left: 150px;
  }
}
@media (max-width: 430px) {
  .text-main-content2 {
    font-size: 60px;
    margin-top: -20px;
    margin-left: 60px;
  }
}
@media (max-width: 430px) {
  .text-main-content3 {
    font-size: 10px;
    margin-top: 0px;
    margin-left: 150px;
  }
}
@media (max-width: 430px) {
  .img-arrow {
    display: none;
  }
}
@media (max-width: 430px) {
  .head-text-content2 {
    font-size: 8px;
    text-align: center;
  }
}
/* HEAD 2  */
@media (max-width: 430px) {
  .head2 {
    background-image: url(./components/image/02.jpg);
    background-size: contain;
    height: 260px;
  }
}
@media (max-width: 430px) {
  .text-content-1 {
    font-size: 15px;
    margin-left: 220px;
    margin-top: 10px;
  }
}
@media (max-width: 430px) {
  .text-content-2 {
    font-size: 30px;
    margin-left: 220px;
  }
}
@media (max-width: 430px) {
  .text-content-3 {
    font-size: 8px;
    margin-left: 220px;
  }
}
@media (max-width: 430px) {
  .btn-content {
    height: 20px;
    font-size: 8px;
    margin-left: 220px;
  }
}
/* HEAD 3 */
@media (max-width: 430px) {
  .head3 {
    background-image: url(./components/image/03.jpg);
    background-size: contain;
    height: 260px;
  }
}
@media (max-width: 430px) {
  .text-content-1-1 {
    font-size: 15px;
    margin-left: 50px;
    margin-top: 50px;
  }
}
@media (max-width: 430px) {
  .text-content-1-2 {
    font-size: 30px;
    margin-left: 50px;
  }
}
@media (max-width: 430px) {
  .text-content-1-3 {
    font-size: 8px;
    margin-left: 50px;
  }
}
@media (max-width: 430px) {
  .btn-content2 {
    height: 20px;
    font-size: 8px;
    margin-left: 50px;
  }
}
/* HEAD 4 */
@media (max-width: 430px) {
  .head4 {
    background-image: url(./components/image/04.jpg);
    background-size: contain;
    height: 260px;
  }
}
/* HEAD 5 */
@media (max-width: 430px) {
  .head5 {
    background-image: url(./components/image/05.jpg);
    background-size: contain;
    height: 260px;
  }
}
/* MEDIA 375PX */

/*  HEAD 2 */
@media (max-width: 380px) {
  .head2 {
    background-image: url(./components/image/02.jpg);
    background-size: contain;
    height: 200px;
  }
}
@media (max-width: 430px) {
  .text-content-1 {
    font-size: 10px;
    margin-left: 220px;
    margin-top: 10px;
  }
}
@media (max-width: 430px) {
  .text-content-2 {
    font-size: 15px;
    margin-left: 220px;
  }
}
@media (max-width: 430px) {
  .text-content-3 {
    font-size: 8px;
    margin-left: 220px;
  }
}
@media (max-width: 430px) {
  .btn-content {
    display: none;
  }
}
/* HEAD 3 */
@media (max-width: 380px) {
  .head3 {
    background-image: url(./components/image/03.jpg);
    background-size: contain;
    height: 200px;
  }
}
@media (max-width: 430px) {
  .text-content-1-1 {
    font-size: 10px;
    margin-left: 50px;
    margin-top: 50px;
  }
}
@media (max-width: 430px) {
  .text-content-1-2 {
    font-size: 15px;
    margin-left: 50px;
  }
}
@media (max-width: 430px) {
  .text-content-1-3 {
    font-size: 8px;
    margin-left: 50px;
  }
}
@media (max-width: 430px) {
  .btn-content2 {
    display: none;
  }
}
/* HEAD 4 */
@media (max-width: 380px) {
  .head4 {
    background-image: url(./components/image/04.jpg);
    background-size: contain;
    height: 200px;
  }
}
/* HEAD 5 */
@media (max-width: 380px) {
  .head5 {
    background-image: url(./components/image/05.jpg);
    background-size: contain;
    height: 200px;
  }
}
